@model IEnumerable<IrkomWebApplication.Models.Phone>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>NataliOneLove</title>
</head>
<body>
    <h3>Honey, I LOVE YOU!!! Have A Nice Day!!!</h3>
    <img class="img-thubnail" src="~/img/1007.jpg">
    <table>
      <!--  <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>-->
        @foreach (var phone in Model)
        {
          <!--  <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr> -->
        }
    </table>
</body>
</html>