@model IEnumerable<IrkomWebApplication.Models.Phone>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<html>

<head>
    <title>Прайс лист</title>
</head>
<body>
    <h3>Список товарів</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr>

        }
    </table>
    <form id="form4" name="form3" action="/uploader" enctype="multipart/form-data" method="post">
        <div class="buttons">
            <div class="upload-button">
                <div class="label">Click me!</div>
                <input id="files" name="files" type="file" size="1" multiple onchange="uploadFiles('files');" />
            </div>
        </div>
    </form>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/fileuploading.js"></script>

</body>
</html>